/* write your override styles here */
/* Cleanup overrides to remove graffiti and replace tags */

/* Tag 1 override */
.tag-1 {
  background: url("../images/tag-1.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 7;
}

/* Tag 2 override */
#wall #tag-2 {
  background: url("../images/tag-2.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 6;
}

/* Tag 3 override */
div#wall #tag-3.slick {
  background: url("../images/tag-3.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 5;
}

/* Tag 4 override */
#wall #tag-4 {
  background: url("../images/tag-4.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 4;
}

/* Tag 5 override */
div#wall .parent #tag-5.slick {
  background: url("../images/tag-5.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 3;
}

/* Tag 6 override */
div#wall div.parent div:last-child div#tag-6 {
  background: url("../images/tag-6.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 2;
}

/* Tag 7 override */
body div#wall div.parent div > #tag-7.slick {
  background: url("../images/tag-7.png") no-repeat;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 980px;
  height: 622px;
  z-index: 1;
}
